.style {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 900;
}
p {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  padding: 20px 10px 10px 10px;
}
div {
  font-size: 20px;
  font-weight: 600;
  background-color: lightcoral;

}
.col-1-title {
  background-color: green;
  border: 2px solid black;
  width: 30%;
  text-align: center;
  float: right;

}
.col-2-title {
  background-color: blueviolet;
  border: 2px solid black;
  width: 30%;
  text-align: center;
  float: right;
}
.col-3-title {
  background-color: pink;
  border: 2px solid black;
  width: 30%;
  text-align: center;
  float: right;

}
.row {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* Tela GRANDE da prova (language: Porguese-Brasil)*/
  @media (min-width: 992px) {
    .col-lar-4 {
      float: left;
      border: 1px solid black;
      margin: 10px;
    }
    .col-lar-4 {
      max-width: 30%;
    }

  }

/* Tela MEDIA da prova (language: Porguese-Brasil)*/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-med-6, .col-med-12{
      float: left;
      border: 1px solid black;
      margin: 1%;
    }
    .col-med-6 {
      max-width: 48%;
    }
    .col-med-12 {
      max-width: 100%;
    }
  }
/* Tela PEQUENA da prova (language: Porguese-Brasil)*/
  @media (max-width: 767px) {
    .col-sm-12 {
      float: left;
      border: 1px solid black;
      margin: 10px;
      max-width: 100%; 
    }
  }
